#root {
  margin: 0 auto;
  min-width: 100vw;
}

.app-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-title {
  font-size: 72px;
  margin-top: 50px;
  margin-bottom: 50px;
  color: rgb(138, 153, 162);
  font-family: 'Oi';
}
